# =====================
# Общие
# =====================
*.log            # Логи
.DS_Store        # Системный файл MacOS
.env             # Файлы с паролями / секретами

# =====================
# Frontend (React)
# =====================
frontend/node_modules/   # зависимости npm
frontend/build/          # сборка React
frontend/.env            # если есть секреты

# =====================
# Backend (Node.js)
# =====================
backend/node_modules/    # зависимости npm
backend/.env             # настройки базы, секретные ключи

